/* Form */
.bFormer { font-family: Arial; line-height: 1.25em; }
.bFormer .bFormerTitle { }
.bFormer .bFormerDescription { }
.bFormer .bFormerIFrame { border: none; display: none; width: 600px; height: 200px; clear: both; border: 1px solid #CCC; }
.bFormer .bFormerAfterControl {  }

/* Alerts and Modal */
.bFormer .bFormerAlertWrapper { position: fixed; top: 0; left: 0; z-index: 3; text-align: center; width: 100%; margin: 0 0 0 0; }
.bFormer .bFormerAlertWrapper .error { background-color: red; }
.bFormer .bFormerAlertWrapper .update { background-color: blue; }
.bFormer .bFormerAlert { max-width: 100px; margin: 0 auto; padding: .25em 1em .5em 1em; text-align: center; font-weight: bold; background: #333; color:#FFF; font-size: .8em; }
.bFormer .bFormerModalTransparency { position: absolute; z-index: 99999; width: 100%; height: 100%; left: 0; top: 0; filter: alpha(opacity: 50); -moz-opacity: .5; -khtml-opacity: .5; opacity: .5; background-color: #CCCCCC;}
.bFormer .bFormerModalWrapper { position: absolute; z-index: 1000000; width: 100%; height: 100%; left: 0; top: 0; }
.bFormer .bFormerModalWrapper .bFormerModal { border: 1px solid red; background: #F2F2F2; overflow: auto; min-width: 300px; max-width: 500px; margin: 0 auto; font-size: .8em; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-box-shadow: 2px 12px 30px #333; }
.bFormer .bFormerModalWrapper .bFormerModal .bFormerModalHeader { background: #AA231D; color: #FFF; font-size: 1.4em; padding: .1em .25em; }
.bFormer .bFormerModalWrapper.bFormerModalNotice .bFormerModal { border: 1px solid #257AF8; background: #F2F2F2; overflow: auto; min-width: 300px; max-width: 500px; margin: 0 auto; font-size: .8em; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-box-shadow: 2px 12px 30px #333; }
.bFormer .bFormerModalWrapper.bFormerModalNotice .bFormerModal .bFormerModalHeader { background: #257AF8; color: #FFF; font-size: 1.4em; padding: .1em .25em; }
.bFormer .bFormerModalWrapper .bFormerModal { border: 1px solid red; background: #F2F2F2; overflow: auto; min-width: 300px; max-width: 500px; margin: 0 auto; font-size: .8em; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-box-shadow: 2px 12px 30px #333; }
.bFormer .bFormerModalWrapper .bFormerModal .bFormerModalContent { padding: .5em; background: #FFF; }
.bFormer .bFormerModalWrapper .bFormerModal .bFormerModalFooter { border-top: 1px solid #CECECE; text-align: right; }
.bFormer .bFormerModalWrapper .bFormerModal .bFormerModalFooter button { margin: .5em; font-size: 1em; background: #FFFFFF url(images/button-bg.png) repeat-x scroll left center; border: 1px solid; border-color: #DEDEDE #BBBBBB #BFBFBF #DEDEDE; padding: .35em .45em; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

/* Page Navigator */
.bFormer .bFormPageNavigator { overflow: auto; }

.bFormer .bFormPageNavigatorTop { }
.bFormer .bFormPageNavigator ul { margin: 0; }
.bFormer .bFormPageNavigator li { margin: 0; list-style: none; }
.bFormer .bFormPageNavigatorTop { border-top: 1px dotted #CCC; border-bottom: 1px dotted #CCC; padding: .55em .5em .5em 0; margin-bottom: .5em; }
.bFormer .bFormPageNavigatorTop .bFormPageNavigatorLink { float: left; margin: 0 .5em 0 0; text-align: center; color: #000; cursor: pointer; padding: 0 .75em .1em 0; }
.bFormer .bFormPageNavigatorTop .bFormPageNavigatorLink .bFormNavigatorLinkPrefix { width: 34px; height: 29px; padding: 1px 0 0 0; text-align: center; display: inline-block; }
.bFormer .bFormPageNavigatorTop .bFormPageNavigatorLinkUnlocked .bFormNavigatorLinkPrefix { background: url(images/page-navigator-unlocked.png) .3em 50% no-repeat; color: #666; }
.bFormer .bFormPageNavigatorTop .bFormPageNavigatorLinkLocked .bFormNavigatorLinkPrefix { background: url(images/page-navigator-locked.png) .3em 50% no-repeat; color: #666; }
.bFormer .bFormPageNavigatorTop .bFormPageNavigatorLinkDependencyLocked .bFormNavigatorLinkPrefix { background: url(images/page-navigator-dependency-locked.png) .3em 50% no-repeat; color: #666; }
.bFormer .bFormPageNavigatorTop .bFormPageNavigatorLinkWarning .bFormNavigatorLinkPrefix { background: url(images/page-navigator-warning.png) .3em 50% no-repeat; }
.bFormer .bFormPageNavigatorTop .bFormPageNavigatorLinkActive .bFormNavigatorLinkPrefix { background: url(images/page-navigator-active.png) .3em 50% no-repeat; color: #000; font-weight: bold; }

.bFormer .bFormPageNavigatorRight { position: absolute; top: 0; right: 0; }
.bFormer .bFormPageNavigatorRight .bFormPageNavigatorLink { border: 1px solid #CCC; margin: 0 0 .25em 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.bFormer .bFormPageNavigatorRight .bFormPageNavigatorLinkUnlocked { padding: .25em .75em .25em 1.9em; background: url(images/accept.png) .3em 50% no-repeat; cursor: pointer; color: #2C8AEF; }
.bFormer .bFormPageNavigatorRight .bFormPageNavigatorLinkDisabled { padding: .25em .75em .25em .55em; color: #999; cursor: default; }
.bFormer .bFormPageNavigatorRight .bFormPageNavigatorLinkWarning { padding: .25em .75em .25em 1.9em; background: url(images/error.png) .3em 50% no-repeat; cursor: pointer; color: #2C8AEF; }
.bFormer .bFormPageNavigatorRight .bFormPageNavigator li.bFormPageNavigatorLinkActive { background-color: #DFEFFF; border: 1px solid #C2D7EF; }

.bFormer .bFormerProgress {}
.bFormer .bFormerProgressBar { background: #2C8AEF; border: 1px solid #006BDF; -moz-border-radius: 5px; width: 0; }
.bFormer .bFormerProgressBar p { text-align: center; color: #FFF; line-height: 2em; margin: 0; }

/* Control */
.bFormer .bFormerControl { clear: both; margin: .75em 0 0 0; padding: 0 0 1.5em 0; list-style: none; overflow: hidden; }
.bFormer .bFormerControl li { float: left; margin: 0 1em 0 0; position: relative; }
.bFormer .bFormerControl li button { font-size: .8em; margin: 0 0 1em 0; background: #FFFFFF url(images/button-bg.png) repeat-x scroll left center; border: 1px solid; border-color: #DEDEDE #BBBBBB #BFBFBF #DEDEDE; padding: .65em .75em; cursor: pointer; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -webkit-border-radius: 5px; }
.bFormer .bFormerControl li button:hover { border-color: #2C8AEF; }
.bFormer .bFormerControl li button:active { border-color: #7FBCFF; }
.bFormer .bFormerControl .bFormerFailureNotice { font-size: .8em; background: url(images/exclamation.png) no-repeat .5em 50%; padding: .25em .75em .25em 2em; background-color: #FFDFE0; border: 1px solid #EFC2C4; -moz-border-radius: 5px; -webkit-border-radius: 5px;  }

/* Pages */
.bFormer .bFormWrapperContainer { overflow: auto; }
.bFormer .bFormPageWrapper { overflow: hidden; clear: both; }
.bFormer .bFormPageScroller { }
.bFormer .bFormPage { float: left; }
.bFormer .bFormPage .bFormPageTitle { }
.bFormer .bFormPage .bFormPageDescription { }
.bFormer .bFormPageInactive { visibility: hidden; }
.bFormer .bFormPageSuccess {}
.bFormer .bFormPageFailure {}
.bFormer .bFormerFailure { background: url(images/exclamation.png) no-repeat .5em 50%; padding: .25em .75em .25em 2em; background-color: #FFDFE0; border: 1px solid #EFC2C4; -moz-border-radius: 5px; -webkit-border-radius: 5px;  }

/* Sections */
.bFormer .bFormSection { clear: both; overflow: auto; }
.bFormer .bFormSection .bFormSectionTitle { }
.bFormer .bFormSection .bFormSectionDescription { }
.bFormer .bFormSectionDependencyDisabled { background: url(images/lock.png) no-repeat top right #f1f1f1; color: #CCC; border: 1px solid #f1f1f1; }
.bFormer .bFormSectionDependencyDisabled:hover { background-color: #f1f1f1; border: 1px solid #CCC; }

/* Instances */
.bFormer .bFormComponentAddInstanceButton { display: block; margin: 0 0 .75em .65em; background: url(images/add.png) no-repeat .25em 50% #EEEEEE; font-size: .8em; clear: both; border: 1px solid #AAA; padding: .25em .25em .25em 1.5em; cursor: pointer; -moz-border-radius: 5px; }
.bFormer .bFormComponentRemoveInstanceButton { display: inline; margin: 0 0 0 .5em; background: url(images/cancel.png) no-repeat .25em 50% #EEEEEE; font-size: .8em; clear: both; border: 1px solid #AAA; padding: .25em .25em .25em 1.5em; cursor: pointer; -moz-border-radius: 5px; }
.bFormer .bFormSectionAddInstanceButton { display: block; margin: 0 0 .75em .65em; background: url(images/add.png) no-repeat .25em 50% #EEEEEE; font-size: .8em; clear: both; border: 1px solid #AAA; padding: .25em .25em .25em 1.5em; cursor: pointer; -moz-border-radius: 5px; }
.bFormer .bFormSectionRemoveInstanceButton { display: block; margin: 0 0 .75em .65em; background: url(images/cancel.png) no-repeat .25em 50% #EEEEEE; font-size: .8em; clear: both; border: 1px solid #AAA; padding: .25em .25em .25em 1.5em; cursor: pointer; -moz-border-radius: 5px; }

/* Tips */
.bFormer .bFormerTip { position: absolute; top: 0; left: 0; display: none; z-index: 3; max-width: 300px; _width: 300px; }
.bFormer .bFormerTip .tipArrow { position: relative; display: block; margin: 8px 0 0 1px; width: 12px; height: 16px; background: url(images/tip-arrow-left.png) no-repeat; }
.bFormer .bFormerTip .tipContent { position: relative; top: -22px; left: 13px; background: #333333; zoom: 1; color: #FFF; z-index: 3; padding: .75em 1em .75em .95em; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-box-shadow: 2px 2px 8px #444; -webkit-box-shadow: 2px 2px 8px #444; }
.bFormer .bFormerTip .tipContent p { font-size: .8em; color: #FFF; margin: 0 0 0 0; padding: 0 0 0 0; }
.bFormer .bFormerTip .tipContent li { font-size: .8em; }
.bFormer table .bFormerTip .tipContent p { font-size: 1em; }
.bFormer table .bFormerTip .tipContent ul { font-size: 1em; }
.bFormer .bFormerTip .tipContent ul { margin: 0 0 0 1em; padding: 0 0 0 0; }
.bFormer .bFormerTip .tipContent .tipErrorUl { color: #FF8F8F; }
.bFormer .bFormerTip .tipContent .tipErrorUl li { list-style-type: disc; font-weight: bold; }
.bFormer .bFormerTipBlurred { z-index: 2 !important; }
.bFormer .bFormerTipBlurred .tipArrow { background: url(images/tip-arrow-left-blurred.png) no-repeat; }
.bFormer .bFormerTipBlurred .tipContent { background-color: #555; -moz-box-shadow: 2px 2px 8px #555; -webkit-box-shadow: 2px 2px 8px #555; }
.bFormer .bFormComponentMultipleChoiceTipIcon  { display: inline-block; width: 16px; height: 20px; background: url(images/help.png) no-repeat 0 3px; }
.bFormer .bFormComponentMultipleChoiceTip .tipArrow { margin-top: 3px !important; }
.bFormer .bFormComponentMultipleChoiceTip .tipContent { top: -23px !important; }
.bFormer .bformerTipClose { position: absolute; top:0px; right:5px; cursor: pointer; font-size: .75em; }

/* Components */
.bFormer .bFormComponent { padding: .25em .8em .5em .5em; overflow: hidden; margin-bottom: 3px; border: 1px solid transparent; float: left; clear: both; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.bFormer .bFormComponent input { font-family: Arial; font-size: .8em; padding: 3px .35em; background: #EEEEEE url('images/input-bg.gif') repeat-x 0 1px scroll; border: 1px solid #AAA; outline:none; }
.bFormer .bFormComponent select { font-family: Arial; font-size: .8em; background: #EEEEEE; border: 1px solid #AAA; outline:none; }
.bFormer .bFormComponent textarea { font-family: Arial; font-size: .8em; padding: 3px .35em; background: url('images/input-bg.gif') repeat-x 0 1px scroll #EEEEEE; border: 1px solid #AAA; resize:none; outline:none;}
.bFormer .bFormComponent .defaultValue { color: #666666; }
.bFormer .bFormComponent .bFormComponentDescription { clear: both; margin: .5em 0 0 0; }
.bFormer .bFormComponentHighlight { background-color: #DFEFFF; border: 1px solid #C2D7EF; }
.bFormer .bFormComponentServerSideCheck { background-color: #FFFCDF; border: 1px solid #EFEBC2; }
.bFormer .bFormComponentValidationFailed { background-color: #FFDFE0; border: 1px solid #EFC2C4; }
.bFormer .bFormComponentValidationPassed { }
.bFormer .bFormComponentDependencyDisabled { background: url(images/lock.png) no-repeat top right #f1f1f1; color: #CCC; }
.bFormer .bFormComponentDependencyDisabled.bFormComponentHighlight { background-color: #f1f1f1; border: 1px solid #CCC; }

/* Labels and Sublabels */
.bFormer .bFormComponent .bFormComponentLabel { display: block; font-size: .8em; font-weight: bold; }
.bFormer .bFormComponent .bFormComponentLabelRequiredStar { color: #F00; }
.bFormer .bFormComponentValidationFailed .bFormComponentLabel, .bFormer .bFormComponentValidationFailed .bFormComponentLikertStatementLabel { background: url(images/exclamation.png) no-repeat left; padding-left: 18px; }

.bFormer .bFormComponent .bFormComponentSublabel p { margin: 0; padding: 0; font-size: .7em; }

/* Component Type - SingleLineText */
.bFormer .bFormComponentSingleLineText input { width: 12em; }

/* Component Type - TextArea */
.bFormer .bFormComponentTextArea textarea { width: 24em; height: 12em; }

/* Component Type - MultipleChoice */
.bFormer .bFormComponentMultipleChoice .choiceWrapper { }
.bFormer .bFormComponentMultipleChoice .choice { cursor: pointer; margin: 0 .35em 0 0; }
.bFormer .bFormComponentMultipleChoice .choiceLabel { font-size: .8em; font-weight: normal; margin-right: 1em; cursor: pointer; }
.bFormer .bFormComponentMultipleChoiceTip { z-index: 5; }

/* Component Type - DropDown */
.bFormer .bFormComponentDropDown .dropDown { display: block; }
.bFormer .bFormComponentDropDown .dropDown .choice { }

/* Component Type - Hidden */
.bFormer .bFormComponentHidden { display: none; }

/* Component Type - File */
.bFormer .bFormComponentFile { }
.bFormer .bFormComponentFile .pseudoFile { z-index: 1; }
.bFormer .bFormComponentFile .pseudoFile input { border: 1px solid #AAA !important; color: #000 !important; }
.bFormer .bFormComponentFile .pseudoFile input:disabled { border: 1px solid #AAA !important; color: #000 !important; }
.bFormer .bFormComponentFile .pseudoFile button:disabled { color: #000; border: 1px solid; border-color: #DEDEDE #BBBBBB #BFBFBF #DEDEDE; }
.bFormer .bFormComponentFile .pseudoFile button { font-size: .8em; margin: 0 0 0 .25em; background: #FFFFFF url(images/button-bg.png) repeat-x scroll left center; border: 1px solid; border-color: #DEDEDE #BBBBBB #BFBFBF #DEDEDE; padding: .25em .5em .225em .5em; cursor: pointer; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -webkit-border-radius: 5px; }
.bFormer .bFormComponentFile .file.hidden { z-index: 2; text-align: right; position: relative;  font-size: 1.1em; filter: alpha(opacity: 0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }

/* Component Type - Name */
.bFormer .bFormComponentName input:focus {  border: 1px solid #888; }
.bFormer .bFormComponentName .firstNameDiv { display:block; float:left; }
.bFormer .bFormComponentName .firstName { width: 7em; margin-right: .35em; }
.bFormer .bFormComponentName .middleInitialDiv { display:block; float:left; }
.bFormer .bFormComponentName .middleInitial { width: 2em; margin-right: .35em; }
.bFormer .bFormComponentName .lastNameDiv { display:block; float:left; }
.bFormer .bFormComponentName .lastName { width: 10em; }

/* Component Type - Address */
.bFormer .bFormComponentAddress { }
.bFormer .bFormComponentAddress input:focus { border: 1px solid #888; }
.bFormer .bFormComponentAddress select:focus {  border: 1px solid #888; }
.bFormer .bFormComponentAddress .addressLine1Div { display: block; }
.bFormer .bFormComponentAddress .addressLine1 { width: 24em; }
.bFormer .bFormComponentAddress .addressLine2Div { display: block; margin-top: 1em; }
.bFormer .bFormComponentAddress .addressLine2 { width: 24em; }
.bFormer .bFormComponentAddress .cityDiv { margin: 1em .5em 0 0; display: block; float: left; }
.bFormer .bFormComponentAddress .city { width: 10em; }
.bFormer .bFormComponentAddress .stateDiv { margin: 1em 0 0 0; display: block; float: left; }
.bFormer .bFormComponentAddress .state { width: 12.1em; }
.bFormer .bFormComponentAddress select.state { padding: .15em 0em; width: 13.35em; }
.bFormer .bFormComponentAddress .zipDiv { margin: 1em .5em 0 0; clear: both; display: block; float: left; }
.bFormer .bFormComponentAddress .zip { width: 10em; }
.bFormer .bFormComponentAddress .countryDiv { margin: 1em 0 0 0; display: block; float: left; }
.bFormer .bFormComponentAddress .country { width: 13.35em; padding: .15em 0em; }

/* Component Type - CreditCard */
.bFormer .bFormComponentCreditCard { }
.bFormer .bFormComponentCreditCard input:focus { border: 1px solid #888; }
.bFormer .bFormComponentCreditCard select:focus {  border: 1px solid #888; }
.bFormer .bFormComponentCreditCard .cardTypeDiv { display: block; }
.bFormer .bFormComponentCreditCard .cardType { width: 14.225em; }
.bFormer .bFormComponentCreditCard .cardNumberDiv { display: block; margin-top: .25em; }
.bFormer .bFormComponentCreditCard .cardNumber { width: 13.35em; padding-left: .35em; }
.bFormer .bFormComponentCreditCard .expirationDateDiv { display: block; margin-top: .25em; float: left; overflow: auto; }
.bFormer .bFormComponentCreditCard .expirationMonth.long { width: 9.1em; }
.bFormer .bFormComponentCreditCard .expirationMonth { margin-right: .5em; margin-bottom: .1em; }
.bFormer .bFormComponentCreditCard .expirationDateSeparator { margin-right: .5em; font-size: .8em; }
.bFormer .bFormComponentCreditCard .expirationYear { }
.bFormer .bFormComponentCreditCard .expirationYear.long { width: 4.5em; }
.bFormer .bFormComponentCreditCard .securityCodeDiv { clear: both; display: block; float: left; margin-top: .25em; }
.bFormer .bFormComponentCreditCard .securityCode { width: 5em; padding-left: .35em; }


/* Component Type - Likert */
.bFormer .bFormComponentLikert { }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable { background: #FFF; border-collapse: collapse; }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable td { border: 1px solid #CCC; }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable th { border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #CCC; }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable tr { }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable tr.bFormComponentLikertTableHeading { background: #E6E6E6; }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable tr.bFormComponentLikertTableRowEven { background-color: #FFF; }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable tr.bFormComponentLikertTableRowOdd { background-color: #F5F5F5; }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable tr.bFormComponentHighlight { background-color: #FFFFCF; border: none; }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable tr.bFormComponentHighlight td {  }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable tr.bFormComponentValidationFailed { border: none; }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable tr.bFormComponentValidationFailed td { background-color: #FFEFF0; }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable th { font-size: .9em; line-height: 1.5em; padding: .5em; text-align: center; max-width: 6em; min-width: 6em; vertical-align: middle; }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable th.bFormComponentLikertStatementColumn { font-size: 1em; padding: .5em .5em .5em .8em; min-width: 15em; text-align: left; }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable td { border: 1px solid #CCC; text-align: center; padding: .5em 1.5em; }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable td.bFormComponentLikertStatementColumn { padding: .5em .5em .5em .8em; min-width: 15em; text-align: left; }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable label.bFormComponentLikertStatementLabel { font-weight: bold; }
.bFormer .bFormComponentLikert table.bFormComponentLikertTable div.bFormComponentLikertStatementDescription p { font-size: 1em; }
.bFormer .bFormComponentLikert label.bFormComponentLikertSublabel { display: block; font-size: .9em; }

/* Component Type - Date */
.bFormer .bFormComponentDate input { width: 9em; }
.bFormer .bFormComponentDateButton { cursor:pointer; width: 16px; height: 16px; padding: 0; margin: 0 3px -2px; display: inline-block; text-indent: -2000px; overflow: hidden; background: url(images/calendar.gif) no-repeat; }
.bFormer .bFormComponentDateSelector { background: #F2F2F2; border: 1px solid #bbb;  padding: 5px 5px 5px 8px;  margin: -1px 0 0 0;  position: absolute;  z-index: 100000;  display: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.bFormer .bFormComponentDateSelectorIEFrame { position: absolute;  z-index: 99999;  display: none; }
.bFormer .bFormComponentDateSelector .bFormComponentDateSelectorNavigator {  width: 13.5em; /* 7 * 2.5em */  }
.bFormer .bFormComponentDateSelector .bFormComponentDateSelectorMonthNavigator, .bFormComponentDateSelector .bFormComponentDateSelectorYearNavigator {  margin: 0 0 3px 0;  padding: 0;  display: block;  position: relative;  text-align: center;  }
.bFormer .bFormComponentDateSelector .bFormComponentDateSelectorMonthNavigator { float: left;  width: 50%;  }
.bFormer .bFormComponentDateSelector .bFormComponentDateSelectorYearNavigator { float: right;  width: 35%;  }
.bFormer .bFormComponentDateSelector .bFormComponentDateSelectorMonthName, .bFormComponentDateSelector .bFormComponentDateSelectorYearName { font-weight: bold; line-height: 20px;  }
.bFormer .bFormComponentDateSelector .bFormComponentDateSelectorButton { display: block; position: absolute; top: 0; width: 18px; height: 18px; line-height: 17px; font-weight: bold; color: #003C78; text-align: center; font-size: 120%; overflow: hidden; border: 1px solid #F2F2F2; }
.bFormer .bFormComponentDateSelector .bFormComponentDateSelectorButton:hover, .bFormComponentDateSelector .bFormComponentDateSelectorButton.hover { background: none; color: #003C78; cursor: pointer; border-color: #ccc; }
.bFormer .bFormComponentDateSelector .bFormComponentDateSelectorPrevious { left: 0; }
.bFormer .bFormComponentDateSelector .bFormComponentDateSelectorNext { right: 0; }
.bFormer .bFormComponentDateSelector table { border-spacing: 0; border-collapse: collapse; clear: both; }
.bFormer .bFormComponentDateSelector th, .bFormComponentDateSelector td { width: 2.3em; height: 2em; padding: 0; text-align: center; color: black; }
.bFormer .bFormComponentDateSelector td { border: 1px solid #ccc; text-align: center; white-space: nowrap; color: #003C78; background: white; }
.bFormer .bFormComponentDateSelector td.bFormComponentDateSelectorToday { background: #FFFEB3; }
.bFormer .bFormComponentDateSelector td.bFormComponentDateSelectorUnselectedMonth { color: #ccc; }
.bFormer .bFormComponentDateSelector td.bFormComponentDateSelectorSelectedDay { cursor: pointer; }
.bFormer .bFormComponentDateSelector td.bFormComponentDateSelectorSelected { background: #D8DFE5; font-weight: bold; }
.bFormer .bFormComponentDateSelector td.bFormComponentDateSelectorSelectedDay:hover, .bFormComponentDateSelector td.bFormComponentDateSelectorSelectedDay.hover { background: #003C78; color: white; }
